# Python
__pycache__
*.pyc
*.egg-info
dist

# Log
*.log
*.log.*
./*.json
*.jsonl
*api_key*
# Data
!**/alpaca-data-conversation.json
data/meme_retrieval_data
data/memecap
data/figmemes
*.zip
data/img_prompt_respond*.json
*embeddings

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output

checkpoints
ckpts*

.ipynb_checkpoints
*.ipynb
workspace.md
data_backup*

# DevContainer
!.devcontainer/*

# Demo
serve_images/
